.app__header {
    background: var(--color-black);
}

.app__header-h1 {
    color: var(--color-golden);
    font-family: var(--font-base);
    letter-spacing: 0.04em;
    text-transform: uppercase;
    line-height: 117px;
    font-size: 90px;
}

@media screen and (max-width: 950px) {
    .app__header-h1 {
        font-size: 70px;
        line-height: 80px;
    }
}

@media screen and (max-width: 390px) {
    .app__header-h1 {
        font-size: 40px;
        line-height: 50px;
    }
}